*/.Rhistory
*/*/.Rhistory
.DS_Store
.Rproj.user
**.Rproj.user
**download.sh
.Rproj.user*
*/*/joblist*
.Rhistory
*/*/.Rhistory
Casks
Searching
*/Casks
*/Searching
*/*/Casks
*/*/Searching
.Rproj.user
*/*/Rproj.user
*/*/Rproj.user*
*.Rproj*
*/download*.sh
**.Rapp.history
**make.sh
trash/
**step1.sh
